ul {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}

div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

code {
  padding-left: 1em;
}
